.example-viewport {
    height: 600px;
}

.example-item {
    height: 50px;
}


/*****************************************/

.row1 {
    flex: 1;
}

.row2 {
    flex: 5;
}

.row3 {
    flex: 6;
}

.flex-container-header {
    display: flex;
    gap: 3px;
    flex: 0 0 100%;
    flex-direction: row;
}

.header-title {
    flex: 1;
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 8px;
}

.header-actions {
    display: flex;
    justify-content: right;
    align-items: right;
    flex: 4;
    margin-right: 20px;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 100%;
    flex-direction: column;
}

.flex-container>div {
    font-size: 15px;
    padding: 1px 0;
}


/* *** list element flex *** */

.img {
    flex: 0;
}

.details {
    flex: 1;
}

.view-notifications {
    flex: 0;
}

.edit {
    flex: 0;
}

.delete {
    flex: 0;
}

.machine-details {
    max-width: 350px;
    word-wrap: break-word;
}

.list-element-flex-container {
    display: flex;
    gap: 8px;
    flex: 0 0 100%;
    flex-direction: row;
}

.list-element-flex-container>div {
    font-size: 15px;
    padding: 10px 0;
}


/* ************************* */

.dashboard-card {
    margin: 20px;
}


/* mat tab */

.mat-tab-group {
    margin: 4px;
}


/* ***** view notifications flex ***** */

h1 {
    font-family: 'Trebuchet MS', sans-serif;
}