.center {
    display: flex;
    justify-content: center;
}

.example-full-width {
    width: 100%;
}

.flex-container {
    display: flex;
    gap: 0rem;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 100%;
    flex-direction: column;
}

.flex-container>div {
    text-align: center;
    font-size: 15px;
    padding: 2px 0;
}

.flex-container-inside-row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 100%;
    flex-direction: column;
}

.flex-container-inside-row>div {
    text-align: center;
    font-size: 15px;
    padding: 2px 0;
}