.dashboard-card {
    margin: 20px;
}

.add-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.dashboard-card-content {
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
}


/*  */

.flex-container-header {
    display: flex;
    gap: 3px;
    flex: 0 0 100%;
    flex-direction: row;
}

.header-title {
    flex: 1;
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 8px;
}

.header-actions {
    display: flex;
    justify-content: right;
    align-items: right;
    flex: 4;
    margin-right: 20px;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 100%;
    flex-direction: column;
}

.flex-container>div {
    font-size: 15px;
    padding: 1px 0;
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
}