<div class="center">
    <h2 mat-dialog-title>Add new job </h2>
</div>

<form *ngIf="addScheduledJobForm && scheduledJob" name="addScheduledJobForm" #theForm="ngForm" [formGroup]="addScheduledJobForm" (ngSubmit)="create()">
    <div class="flex-container">
        <div>

            <mat-label>Please select the targeted machine: </mat-label>

            <ng-multiselect-dropdown [placeholder]="'Choose machine for this scheduled job'" formControlName="machineSerialNumber" [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
            </ng-multiselect-dropdown>

            <!-- <div *ngIf="addScheduledJobForm.controls.machineSerialNumber.errors.required" class="validation-err-container">
                <small> Machine is required. </small>
            </div> -->


        </div>
        <div>
            <div class="flex-container-inside-row">

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Mission</mat-label>
                        <mat-select formControlName="jobID" [(ngModel)]="scheduledJob.jobID">
                            <mat-option value="1">Clean</mat-option>
                            <mat-option value="2">Service</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div>
                <div *ngIf="isInputValidationFailed(addScheduledJobForm.controls.jobID)" class="validation-err-container">
                    <div *ngIf="addScheduledJobForm.controls.jobID.errors.required" class="validation-err-container">
                        <small> Mission is required. </small>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <mat-form-field class="wide">
                <input matInput [ngxMatDatetimePicker]="startTimePicker" placeholder="Choose start time" [(ngModel)]="scheduledJob.startTime" formControlName="startTime" [min]="minDate" [max]="maxDate" [disabled]="disabled">
                <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #startTimePicker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" [disableMinute]="disableMinute"
                    [hideTime]="hideTime">
                </ngx-mat-datetime-picker>
            </mat-form-field>
            <!-- [ngxMatDatetimePickerFilter]="dateFilter" -->
            <!-- <input [owlDateTime]="dt1" [owlDateTimeFilter]="dateFilter" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
            <owl-date-time #dt1></owl-date-time> -->
            <div *ngIf="isInputValidationFailed(addScheduledJobForm.controls.startTime)" class="validation-err-container">
                <div *ngIf="addScheduledJobForm.controls.startTime.errors.required">
                    <small> Start time is required. </small>
                </div>
            </div>

        </div>
        <div>
            <mat-form-field class="wide">
                <input matInput [ngxMatDatetimePicker]="endTimePicker" placeholder="Choose end time" [(ngModel)]="scheduledJob.endTime" formControlName="endTime" [min]="minDate" [max]="maxDate" [disabled]="disabled">
                <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #endTimePicker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" [disableMinute]="disableMinute"
                    [hideTime]="hideTime">
                </ngx-mat-datetime-picker>
            </mat-form-field>
            <div *ngIf="isInputValidationFailed(addScheduledJobForm.controls.endTime)" class="validation-err-container">
                <div *ngIf="addScheduledJobForm.controls.endTime.errors.required" class="validation-err-container">
                    <small> End time is required. </small>
                </div>
                <div *ngIf="addScheduledJobForm.controls.endTime.errors.endDateBeforeStartDate" class="validation-err-container">
                    <small> End time must be after start time </small>
                </div>
                <div *ngIf="addScheduledJobForm.controls.endTime.errors.endDateNotValid" class="validation-err-container">
                    <small> End time must be in present </small>
                </div>



            </div>

        </div>
        <div>
            <mat-form-field class="frequency-full-width" appearance="fill">
                <mat-label>Scheduler Frequency (in days)</mat-label>
                <input type="number" [(ngModel)]="scheduledJob.daysFrequency" formControlName="daysFrequency" matInput placeholder="Frequency" value="1">
            </mat-form-field>
            <!--  (ngModelChange)="onFrequencySelected($event)" -->
            <div *ngIf="isInputValidationFailed(addScheduledJobForm.controls.daysFrequency)" class="validation-err-container">
                <div *ngIf="addScheduledJobForm.controls.daysFrequency.errors.required" class="validation-err-container">
                    <small> Frequency is required. </small>
                </div>
                <div *ngIf="addScheduledJobForm.controls.daysFrequency.errors.frequencyLowerThanOneDay" class="validation-err-container">
                    <small> Frequency should be at least one day </small>
                </div>
                <div *ngIf="addScheduledJobForm.controls.daysFrequency.errors.overFrequency" class="validation-err-container">
                    <small> Frequency days is greater the the range of days bettween start and end time </small>
                </div>



            </div>

        </div>
        <!-- <div>
            <div class="flex-container-inside-row">

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Job Status</mat-label>
                        <mat-select formControlName="isActive" [(ngModel)]="scheduledJob.isActive">
                            <mat-option value="true">Enabled</mat-option>
                            <mat-option value="false">Disabled</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div></div>

                <div></div>
            </div>



        </div> -->

    </div>

    <button id="update-job-btn" class="btn btn-primary btn-block" [disabled]="!theForm.valid">
    Add New Job </button>

</form>