<div class="center">
    <h2 mat-dialog-title>Send catalog </h2>
</div>


<form *ngIf="sendCatalogForm && catalog" name="sendCatalogForm" #theForm="ngForm" [formGroup]="sendCatalogForm" (ngSubmit)="send()">
    <div class="flex-container">
        <div class="row1">

            <mat-form-field class="wide" appearance="fill">
                <mat-label>Message content</mat-label>

                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" name="message" formControlName="message" [(ngModel)]="message" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Message content"></textarea>
                <mat-icon *ngIf="sendCatalogForm.controls.message.errors === null" matSuffix>sentiment_very_satisfied
                </mat-icon>

            </mat-form-field>
            <div *ngIf="isInputValidationFailed(sendCatalogForm.controls.message)" class="validation-err-container">

                <div *ngIf="sendCatalogForm.controls.message.errors.required">
                    <small> Message content is required.
          </small>
                </div>



            </div>
        </div>

        <div class="row2">
            <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Select phone numbers</mat-label>
                <mat-chip-list #chipList aria-label="Phones selection">
                    <mat-chip *ngFor="let number of phones" [selectable]="selectable" [removable]="removable" (removed)="remove(number)">
                        {{number}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input id="d" formControlName="phones" placeholder="New phone number..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-icon *ngIf="sendCatalogForm.controls.phones.errors === null" matSuffix>sentiment_very_satisfied
                </mat-icon>


            </mat-form-field>
            <div *ngIf="isInputValidationFailed(sendCatalogForm.controls.phones)" class="validation-err-container">

                <div *ngIf="sendCatalogForm.controls.phones.errors.required">
                    <small> Phone numbers is required.
          </small>
                </div>
                <div *ngIf="sendCatalogForm.controls.phones.errors.phoneNotValid">
                    <small> Phone number is not valid.
          </small>
                </div>




            </div>
            <mat-error *ngIf="isPhonesEmpty()"><small>At least 1 phone number need to be added</small></mat-error>
        </div>
        <div class="row3">
            <button id="add-catalog-btn" class="btn btn-primary btn-block" [disabled]="!theForm.valid">
        Send catalog </button>
        </div>
    </div>


</form>