<div class="center">
    <h2 mat-dialog-title>Create Member </h2>
</div>



<form *ngIf="addMemberForm && member" name="addMemberForm" #theForm="ngForm" [formGroup]="addMemberForm" class="normal-form">

    <div class="grid-container">
        <div class="first-name">
            <mat-form-field appearance="fill" class="wide">
                <mat-label>first name</mat-label>
                <input [(ngModel)]="member.firstName" name="firstName" formControlName="firstName" matInput placeholder="Placeholder" focus>
                <mat-icon *ngIf="addMemberForm.controls.firstName.errors === null" matSuffix>sentiment_very_satisfied</mat-icon>

            </mat-form-field>
            <div *ngIf="isInputValidationFailed(addMemberForm.controls.firstName)" class="validation-err-container">

                <div *ngIf="addMemberForm.controls.firstName.errors.nameNotValid">
                    <small> First name is not valid.
          </small>
                </div>



            </div>
        </div>
        <div class="last-name">
            <mat-form-field appearance="fill" class="wide">
                <mat-label>last name</mat-label>
                <input [(ngModel)]="member.lastName" name="lastName" formControlName="lastName" matInput placeholder="Last Name">
                <mat-icon *ngIf="addMemberForm.controls.lastName.errors === null " matSuffix>sentiment_very_satisfied</mat-icon>

            </mat-form-field>
            <div *ngIf="isInputValidationFailed(addMemberForm.controls.lastName)" class="validation-err-container">

                <div *ngIf="addMemberForm.controls.lastName.errors.nameNotValid">
                    <small> Last name is not valid.
          </small>
                </div>
            </div>

        </div>
        <div class="end-date">
            <mat-form-field appearance="fill" class="wide">
                <mat-label>End Date</mat-label>
                <input [(ngModel)]="member.endOfMembershipDate" type="date" name="endOfMembershipDate" formControlName="endOfMembershipDate" matInput placeholder="End Date">
                <mat-icon *ngIf="addMemberForm.controls.endOfMembershipDate.errors === null" matSuffix>sentiment_very_satisfied
                </mat-icon>

            </mat-form-field>
            <div *ngIf="checkDate(addMemberForm.controls.endOfMembershipDate)" class="validation-err-container">
                <div *ngIf="addMemberForm.controls.endOfMembershipDate.errors.required">
                    <small> End date is required. </small>
                </div>
                <div *ngIf="addMemberForm.controls.endOfMembershipDate.errors.dateNotValid">
                    <small> End date must be at least one day after join date
          </small>
                </div>
                <div *ngIf="addMemberForm.controls.endOfMembershipDate.errors.dateShouldBeInPresent">
                    <small> End date must be in present
          </small>
                </div>




            </div>

        </div>
        <div class="email-class">
            <mat-form-field appearance="fill" class="wide">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="member.email" type="email" name="email" formControlName="email" matInput placeholder="Email">
                <mat-icon *ngIf="addMemberForm.controls.email.errors === null" matSuffix>sentiment_very_satisfied</mat-icon>

            </mat-form-field>
            <div *ngIf="isInputValidationFailed(addMemberForm.controls.email)" class="validation-err-container">
                <div *ngIf="addMemberForm.controls.email.errors.required">
                    <small> Email is required. </small>
                </div>
                <div *ngIf="addMemberForm.controls.email.errors.email">
                    <small> Email is not valid. </small>
                </div>
            </div>
        </div>
        <div class="address-class">
            <mat-form-field appearance="fill" class="wide">
                <mat-label>Address</mat-label>
                <input [(ngModel)]="member.address" type="text" name="address" formControlName="address" matInput placeholder="Address">
                <mat-icon *ngIf="addMemberForm.controls.address.errors === null" matSuffix>sentiment_very_satisfied</mat-icon>

            </mat-form-field>
            <div *ngIf="isInputValidationFailed(addMemberForm.controls.address)" class="validation-err-container">
                <div *ngIf="addMemberForm.controls.address.errors.required">
                    <small> Address is required. </small>
                </div>

            </div>
        </div>

        <div class="phone">
            <mat-form-field appearance="fill" class="wide">
                <mat-label>Phone number</mat-label>
                <input [(ngModel)]="member.phone" name="phone" formControlName="phone" matInput placeholder="Phone">
                <mat-icon *ngIf="addMemberForm.controls.phone.errors === null" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint> <small>Numebr should consists of 10 digits and start with '05' </small> </mat-hint>
            </mat-form-field>
            <div *ngIf="isInputValidationFailed(addMemberForm.controls.phone)" class="validation-err-container">
                <br>
                <div *ngIf="addMemberForm.controls.phone.errors.empty">
                    <small> Phone number is required. </small>
                </div>
                <div *ngIf="addMemberForm.controls.phone.errors.phoneNotValid">
                    <small> Phone number is not valid
          </small>
                </div>
            </div>
        </div>
        <div class="birthday">
            <mat-form-field appearance="fill" class="wide">
                <mat-label>Birth Day</mat-label>
                <input [(ngModel)]="member.birthDay" type="date" name="birthDay" formControlName="birthDay" matInput placeholder="BirthDay">
                <mat-icon *ngIf="addMemberForm.controls.birthDay.errors === null" matSuffix>sentiment_very_satisfied</mat-icon>

            </mat-form-field>
            <div *ngIf="isInputValidationFailed(addMemberForm.controls.birthDay)" class="validation-err-container">
                <div *ngIf="addMemberForm.controls.birthDay.errors.required">
                    <small> Birth day is required. </small>
                </div>
                <div *ngIf="addMemberForm.controls.birthDay.errors.ageUnder">
                    <small> Member should be at least 16 years old
          </small>
                </div>
            </div>


        </div>

        <div class="join-date">
            <mat-form-field appearance="fill" class="wide">
                <mat-label>join Date</mat-label>
                <input [(ngModel)]="member.joinDate" type="date" name="joinDate" formControlName="joinDate" matInput placeholder="join time">
                <mat-icon *ngIf="addMemberForm.controls.joinDate.errors === null" matSuffix>sentiment_very_satisfied</mat-icon>

            </mat-form-field>
            <div *ngIf="isInputValidationFailed(addMemberForm.controls.joinDate)" class="validation-err-container">
                <div *ngIf="addMemberForm.controls.joinDate.errors.required">
                    <small> Join date is required. </small>
                </div>
            </div>

        </div>

        <div class="gender">
            <mat-radio-group [(ngModel)]="member.gender" formControlName="gender" name="gender" aria-label="Select an option">
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="2">Female</mat-radio-button>
            </mat-radio-group>

            <div *ngIf="isInputValidationFailed(addMemberForm.controls.gender)" class="validation-err-container">
                <div *ngIf="addMemberForm.controls.gender.errors.required">
                    <small> Gender is required. </small>
                </div>

            </div>

        </div>

        <div class="image">

            <label for="image">Image</label>
            <input type="file" formControlName="image" placeholder="Image" accept=".png, .jpg, .jpeg" (change)="handleSelectedImage($event.target.files)">
            <mat-hint>(Optional) </mat-hint>
        </div>

    </div>





    <div class="center">
        <button id="add-member-btn" class="btn btn-primary btn-block" [disabled]="!theForm.valid" (click)="create()">
      Add member
    </button>
    </div>
</form>