.flex-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 100%;
    flex-direction: column;
}

.flex-container>div {
    text-align: center;
    font-size: 15px;
    padding: 1px 0;
}

.dashboard-card {
    margin: 10px;
}

.dashboard-card-content {
    text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}